.btn {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: max-content;
    border: 1px solid#fff;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    @include transition($t);
    i {
        display: block;
        margin-left: 10px;
        position: relative;
        right: 0;
        @include transition($t);
    }
    .btn-play{
        margin-left: 0;
        width: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn:hover {
        background: $yellow-cl;
        @include transition($t);
        i {
            margin-left: 22px;
            right: -10px;
            @include transition($t);
        }
    }
    @include xs{
        padding: 5px 10px;
    }
}
.btnmore {
    display: flex;
    align-items: center;
    font-family: pb;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    @include transition($t);
    &:before {
        content: "";
        width: 35px;
        height: 1.5px;
        background: $yellow-cl;
        display: block;
        position: absolute;
        bottom: -7px;
        left: 0;
    }   
    img {
        margin-left: 10px;
        @include transform(translateX(0px));
        @include transition($t);
        
    }
    &:hover {
        img {
            position: relative;
            @include transform(translateX(10px));
            @include transition($t);
        }
    }
   
}
img{
    max-width: 100%;
}
@include sm{
    .btnmore{
        margin-bottom: 15px;
        margin-top: -7px;
    }
}
@include xs{
    .btnmore{
        margin-bottom: 15px;
    }
}
